.array-container {
    position: absolute;
    left: 25px;
}

.array-bar {
    width: 4px;
    display: inline-block;
    background-color: blueviolet;
    margin-right: 1px;
    margin-left: 1px;
}

